
<ion-content class="myContent">
  <button ion-button color="primary" large block class="rcDisplay">{{result}}</button>
  <ion-item class="rcExpresionDisplay" text-right>
    &nbsp;{{expresion}}
  </ion-item>
  
  <ion-grid no-padding class="rcGrid">
    <ion-row *ngFor="let btnRow of buttons">
      <ion-col *ngFor="let btn of btnRow">
        <button ion-button col-11 large color="lightdark" (click)="buttonPress(btn.value)">
          <span *ngIf="btn.label.length > 2">
            <ion-icon name="{{btn.label}}"></ion-icon>
          </span>
          <span *ngIf="btn.label.length < 3">{{btn.label}}</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
